requests==2.31.0
pandas==2.0.3
Flask==3.0.3
langchain==0.2.15
langchain_community==0.2.15
langchain_google_genai==1.0.10
mysql-connector-python==8.0.33
pymysql==1.1.1  # Updated version
faiss-cpu==1.7.3
streamlit==1.27.0
python-dotenv==1.0.0
